<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124870958023-c5dgtacrjmciqvicuqdvusg11b8gc66c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124870958023-c5dgtacrjmciqvicuqdvusg11b8gc66c</string>
	<key>API_KEY</key>
	<string>AIzaSyCn0h9_18fBOh1t6xo8flZJgKoP6kGK3wM</string>
	<key>GCM_SENDER_ID</key>
	<string>124870958023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taoshen.ForTwo</string>
	<key>PROJECT_ID</key>
	<string>fortwo-ea3f2</string>
	<key>STORAGE_BUCKET</key>
	<string>fortwo-ea3f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124870958023:ios:d44b89d1fbf6a2ac4797e2</string>
</dict>
</plist>